* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #020711 !important;
  overflow-x: hidden; /* fallback to clip */
  overflow-x: clip;
  scroll-behavior: smooth;
  position: relative;
}

html,
body {
  scroll-behavior: smooth;
}

p {
  color: #595959;
  font-weight: 400;
}

#root {
  height: 100vh;
  width: 100vw;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
  background: black;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(16, 19, 32, 0.2862745098);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(161, 161, 161, 0.568);
  border-radius: 10px;
}

.site-container {
  display: grid;
  grid-template-columns: 18rem 1fr;
  overflow: hidden;
}
.site-container .main {
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
}

.centerer {
  width: 900px;
  margin: 0 auto;
  margin-top: 2.5rem;
}
@media (min-width: 1000px) {
  .centerer {
    width: 1080px;
  }
}
@media (min-width: 1000px) {
  .centerer {
    width: 1280px;
  }
}

.notif {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 300px;
  height: fit-content;
  right: 1rem;
  top: 2rem;
}

.notification-alert {
  background-color: white;
  color: black;
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 10px 10px 0 10px;
  border-bottom: 0.3rem solid #385dff;
  box-shadow: 0 0 12px 12px rgba(20, 20, 20, 0.103);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
}
.notification-alert svg {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}

.homepage {
  position: relative;
}

.privacy-policy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
}
.privacy-policy h2 {
  font-size: 25px;
  font-weight: 700;
}
.privacy-policy p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
.privacy-policy h3 {
  font-size: 20px;
  font-weight: 700;
}

.blog-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}
@media (min-width: 1000px) {
  .blog-content {
    gap: 4rem;
    grid-template-columns: 2.5fr 1fr;
    padding: 5rem 0;
  }
}

.blog-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.blog-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.blog-pagination {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.pag-btn {
  font-size: 20px !important;
}

.clonegpt-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  background-color: #ededed;
}
.clonegpt-login-container .clonegpt-form-wrapper {
  background-color: white;
  padding: 3rem 5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
}
.clonegpt-login-container .clonegpt-form-wrapper .auth-header {
  width: 100%;
  margin-bottom: 1rem;
}
.clonegpt-login-container .clonegpt-form-wrapper .auth-header div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.clonegpt-login-container .clonegpt-form-wrapper .auth-header div img {
  width: 40px;
  opacity: 1;
  margin-bottom: 10px;
}
.clonegpt-login-container .clonegpt-form-wrapper .auth-header div h2 {
  font-size: 20px;
  font-weight: 500;
}
.clonegpt-login-container .clonegpt-form-wrapper .auth-header div p {
  font-size: 15px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.7215686275);
}
.clonegpt-login-container .clonegpt-form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.clonegpt-login-container .clonegpt-form-wrapper span.forgot-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  line-height: 1;
}
.clonegpt-login-container .clonegpt-form-wrapper button {
  margin-top: 0.5rem;
}

.clone-form-group {
  width: 100%;
}

.clone-more-options {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.clone-more-options p {
  display: inline-block;
}
.clone-more-options p a {
  cursor: pointer;
}

.clone-auth-providers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
.clone-auth-providers .provider-logo {
  font-size: 22px;
}
.clone-auth-providers .clone-auth-single-provider {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  gap: 1rem !important;
}
.clone-auth-providers .clone-auth-single-provider p {
  font-size: 16px !important;
  font-weight: 500 !important;
  text-transform: capitalize;
}
.clone-auth-providers .clone-auth-single-provider:hover p {
  color: white !important;
}

.clone-login-sep {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  line-height: 1;
}
.clone-login-sep span {
  height: 1px;
  background-color: rgba(51, 51, 51, 0.3568627451);
  width: 100%;
}

.clone-auth-single-provider {
  border-color: rgba(51, 51, 51, 0.3568627451) !important;
}

.kalami-header-wraper {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  color: white !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.187);
}
@media (min-width: 768px) {
  .kalami-header-wraper {
    width: 1180px;
    padding: 1.3rem 0;
    margin: 0 auto;
  }
}
.kalami-header-wraper .kalami-logo {
  height: 35px;
  width: auto;
}
.kalami-header-wraper .kalami-menu-wraper ul {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
}
.kalami-header-wraper .kalami-menu-wraper ul li a {
  font-size: 16px;
  text-transform: capitalize;
}
.kalami-header-wraper .kalami-menu-wraper ul li a:hover {
  background-color: #fec204;
  color: black;
}
.kalami-header-wraper .kalami-auth-actions {
  flex-direction: row;
  gap: 0.5rem;
}
.kalami-header-wraper .kalami-auth-actions button {
  text-transform: capitalize;
  font-size: 16px;
}

.kalami-menu-icon {
  font-size: 35px;
  cursor: pointer;
}

.kalami-footer-wraper {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 1.3rem 0;
  padding-bottom: 5rem;
  padding-top: 12rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  color: white !important;
}
@media (min-width: 768px) {
  .kalami-footer-wraper {
    width: 1180px;
    grid-template-columns: 1.8fr 1fr 1fr 1fr;
    gap: 5rem;
  }
}
.kalami-footer-wraper .kalami-footer-elm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.kalami-footer-wraper .kalami-footer-elm h3 {
  font-size: 16px;
  font-weight: 600;
  padding-top: 1rem;
}
.kalami-footer-wraper .kalami-footer-elm .kalami-footer-sub-elm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.kalami-footer-wraper .kalami-footer-elm .kalami-footer-sub-elm p {
  color: white;
  font-size: 15px;
  line-height: 2;
}
.kalami-footer-wraper .kalami-footer-elm .kalami-footer-sub-elm .kalami-socials {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.kalami-footer-wraper .kalami-footer-elm .kalami-footer-sub-elm .kalami-socials a {
  font-size: 20px;
}
.kalami-footer-wraper .kalami-footer-elm .kalami-footer-sub-elm ul {
  display: flex;
  flex-direction: column;
  line-height: 2;
}
.kalami-footer-wraper .kalami-footer-elm .kalami-footer-sub-elm ul li {
  color: rgba(255, 255, 255, 0.619);
}
.kalami-footer-wraper .kalami-logo {
  height: 40px;
  width: auto;
}
@media (min-width: 768px) {
  .kalami-footer-wraper .kalami-logo {
    height: 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.btn-primary {
  color: black !important;
}

.kalami-hero-wraper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 2.5rem 0;
  padding-bottom: 14rem;
  position: relative;
}
@media (min-width: 768px) {
  .kalami-hero-wraper {
    width: 1180px;
    padding: 0 0 2.5rem 0;
    margin: 0 auto;
  }
}
.kalami-hero-wraper .kalami-hero-first {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}
@media (min-width: 768px) {
  .kalami-hero-wraper .kalami-hero-first {
    width: 70%;
    height: 75vh;
  }
}
.kalami-hero-wraper .kalami-hero-first h1 {
  font-size: 37px;
  font-weight: 600;
  line-height: 1.4;
  color: white;
  text-align: center;
}
@media (min-width: 768px) {
  .kalami-hero-wraper .kalami-hero-first h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.4;
  }
}
.kalami-hero-wraper .kalami-hero-first h1 span {
  background-color: #588cfe;
  padding: 0 7px;
  box-shadow: 4px 4px 0 0 #fec204;
  margin-right: 0.3rem;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .kalami-hero-wraper .kalami-hero-first h1 span {
    box-shadow: 5px 5px 0 0 #fec204;
  }
}
.kalami-hero-wraper .kalami-hero-first p {
  color: rgba(255, 255, 255, 0.619);
  font-size: 16px;
  line-height: 1.5;
  width: 90%;
  text-align: center;
}
@media (min-width: 768px) {
  .kalami-hero-wraper .kalami-hero-first p {
    font-size: 17px;
    line-height: 1.5;
    width: 70%;
  }
}
.kalami-hero-wraper .kalami-hero-first .kalami-btn-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .kalami-hero-wraper .kalami-hero-first .kalami-btn-group {
    flex-direction: row;
  }
}
.kalami-hero-wraper .kalami-hero-first .kalami-btn-group button {
  text-transform: none;
  width: 100%;
  color: white;
}
@media (min-width: 768px) {
  .kalami-hero-wraper .kalami-hero-first .kalami-btn-group button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.kalami-hero-wraper .kalami-hero-second {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}
.kalami-hero-wraper .kalami-hero-second .kalami-hero-layers {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
  z-index: 1;
  opacity: 0.8;
}
.kalami-hero-wraper .kalami-hero-second .kalami-hero-layers img {
  height: 70vh;
  width: auto;
}
.kalami-hero-wraper .kalami-hero-second .kalami-hero-video {
  width: auto;
  height: 340px;
  z-index: 2;
}
.kalami-hero-wraper .kalami-hero-second .kalami-hero-video iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.kalami-hero-wraper .hero-layers {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: auto;
}
@media (min-width: 768px) {
  .kalami-hero-wraper .hero-layers {
    width: 80px;
  }
}
.kalami-hero-wraper .hero-layers.first {
  top: 2rem;
  left: 1.5rem;
}
@media (min-width: 768px) {
  .kalami-hero-wraper .hero-layers.first {
    top: 5rem;
    left: 1.5rem;
  }
}
.kalami-hero-wraper .hero-layers.second {
  bottom: 6rem;
  left: 1.5rem;
  width: 100px;
}
@media (min-width: 768px) {
  .kalami-hero-wraper .hero-layers.second {
    bottom: 10rem;
    left: 1.5rem;
    width: 120px;
  }
}
.kalami-hero-wraper .hero-layers.third {
  top: 7rem;
  right: 1.5rem;
  width: 120px;
}
.kalami-hero-wraper .hero-layers.fourth {
  bottom: 10rem;
  right: 1.5rem;
}

.kalami-bigpoints-wraper {
  background-color: white;
  padding: 0 0 5rem 0;
}
.kalami-bigpoints-wraper .kalami-points {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.5rem;
}
@media (min-width: 768px) {
  .kalami-bigpoints-wraper .kalami-points {
    width: 1180px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }
}
.kalami-bigpoints-wraper .kalami-point {
  border: 1px solid black;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.kalami-bigpoints-wraper .kalami-point img {
  width: 80px;
  height: auto;
}
.kalami-bigpoints-wraper .kalami-point h3 {
  color: black;
  font-size: 23px;
  font-weight: 600;
  text-transform: capitalize;
}
.kalami-bigpoints-wraper .kalami-point p {
  text-align: center;
  color: black;
  font-size: 16px;
}
.kalami-bigpoints-wraper .kalami-point:nth-child(1) {
  background-color: #fc804f;
  margin-top: -2rem;
  transition: all 0.1s ease-in;
  border-radius: 10px 10px 0 10px;
}
.kalami-bigpoints-wraper .kalami-point:nth-child(2) {
  background-color: #89f4b6;
  margin-top: -3rem;
  box-shadow: 15px 15px 0 0 #fec204;
  z-index: 3;
  transition: all 0.1s ease-in;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 768px) {
  .kalami-bigpoints-wraper .kalami-point:nth-child(2) {
    margin-top: -4rem;
    border-left: 0;
  }
}
.kalami-bigpoints-wraper .kalami-point:nth-child(3) {
  background-color: #588cfe;
  margin-top: -2rem;
  transition: all 0.1s ease-in;
  border-radius: 10px 10px 10px 0;
}
.kalami-bigpoints-wraper .point3:hover {
  margin-top: -4rem !important;
  box-shadow: 15px 15px 0 0 #fec204;
  z-index: 3;
  border-left: 0;
  cursor: pointer;
}
.kalami-bigpoints-wraper .point2:hover {
  margin-top: -4rem !important;
  box-shadow: 15px 15px 0 0 #fec204 !important;
  z-index: 3 !important;
  border-left: 0 !important;
  cursor: pointer;
}
.kalami-bigpoints-wraper .point1:hover {
  margin-top: -4rem !important;
  box-shadow: 15px 15px 0 0 #fec204 !important;
  z-index: 4 !important;
  cursor: pointer;
}
.kalami-bigpoints-wraper .kalami-point .point-layer {
  position: absolute;
}
.kalami-bigpoints-wraper .point1 .point-layer {
  top: -70px;
  left: -70px;
}
.kalami-bigpoints-wraper .point3 .point-layer {
  bottom: -90px;
  right: -70px;
}

.kalami-points:hover .point2 {
  margin-top: -2rem;
  box-shadow: none;
}

.kalami-grids-wraper {
  background-color: white;
  padding: 0rem 0 5rem 0;
}
@media (min-width: 768px) {
  .kalami-grids-wraper {
    padding: 5rem 0 10rem 0;
  }
}
.kalami-grids-wraper .kalami-grid-parent {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .kalami-grids-wraper .kalami-grid-parent {
    width: 1180px;
    gap: 3rem;
  }
}
.kalami-grids-wraper .kalami-grid-parent .grid-layers {
  width: 80px;
  height: auto;
}
.kalami-grids-wraper .kalami-grid-parent .grid-layers:nth-child(2) {
  position: absolute;
  top: -90px;
  left: -50px;
}
@media (min-width: 768px) {
  .kalami-grids-wraper .kalami-grid-parent .grid-layers:nth-child(2) {
    top: 0;
    left: -50px;
  }
}
.kalami-grids-wraper .kalami-grid-parent .grid-layers:nth-child(3) {
  position: absolute;
  top: 90px;
  right: -50px;
}
.kalami-grids-wraper .kalami-grid-parent .grid-layers:nth-child(4) {
  position: absolute;
  top: 100%;
  right: -50px;
}
.kalami-grids-wraper .kalami-grid-parent h3 {
  font-size: 25px;
  text-align: center;
  color: black;
  font-weight: 600;
  width: 90%;
  line-height: 1.6;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .kalami-grids-wraper .kalami-grid-parent h3 {
    font-size: 35px;
    font-weight: 700;
    width: 50%;
    line-height: 1.4;
  }
}
.kalami-grids-wraper .kalami-grid-parent h3 span {
  background-color: #3474ff;
  box-shadow: 5px 5px 0 0 #fec204;
  padding: 4px 7px;
  border-radius: 5px;
  color: white;
}
.kalami-grids-wraper .kalami-grids {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .kalami-grids-wraper .kalami-grids {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }
}
.kalami-grids-wraper .kalami-grids .kalami-grid {
  border: 1px solid black;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.kalami-grids-wraper .kalami-grids .kalami-grid span {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #3474ff;
  box-shadow: 5px 5px 0 0 #fec204;
  padding: 4px 7px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.kalami-grids-wraper .kalami-grids .kalami-grid img {
  width: 60px;
  height: auto;
}
.kalami-grids-wraper .kalami-grids .kalami-grid h4 {
  color: black;
  font-size: 23px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 0.2rem;
}
.kalami-grids-wraper .kalami-grids .kalami-grid p {
  text-align: center;
  color: black;
  font-size: 16px;
}
@media (min-width: 768px) {
  .kalami-grids-wraper .kalami-grids .kalami-grid:nth-child(1), .kalami-grids-wraper .kalami-grids .kalami-grid:nth-child(2), .kalami-grids-wraper .kalami-grids .kalami-grid:nth-child(4), .kalami-grids-wraper .kalami-grids .kalami-grid:nth-child(5) {
    border-right: none;
  }
}
@media (min-width: 768px) {
  .kalami-grids-wraper .kalami-grids .kalami-grid:nth-child(1), .kalami-grids-wraper .kalami-grids .kalami-grid:nth-child(2), .kalami-grids-wraper .kalami-grids .kalami-grid:nth-child(3) {
    border-bottom: none;
  }
}
.kalami-grids-wraper .kalami-grids .kalami-grid {
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.kalami-grids-wraper .kalami-grids .kalami-grid:nth-child(5) {
  box-shadow: 10px 10px 0 0 #588cfe;
  z-index: 3;
}
.kalami-grids-wraper .kalami-grids .gitem1:hover,
.kalami-grids-wraper .kalami-grids .gitem2:hover,
.kalami-grids-wraper .kalami-grids .gitem3:hover,
.kalami-grids-wraper .kalami-grids .gitem4:hover,
.kalami-grids-wraper .kalami-grids .gitem5:hover,
.kalami-grids-wraper .kalami-grids .gitem6:hover {
  box-shadow: 10px 10px 0 0 #588cfe !important;
  z-index: 4 !important;
}
.kalami-grids-wraper .kalami-grids:hover .gitem5 {
  box-shadow: none;
}

.gitem5 img {
  width: 50px !important;
}

.kalami-review-wraper {
  background-color: #92fcbe;
  padding: 5rem 0 25rem 0;
}
@media (min-width: 768px) {
  .kalami-review-wraper {
    padding: 10rem 0 20rem 0;
  }
}
.kalami-review-wraper .kalami-review {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
@media (min-width: 768px) {
  .kalami-review-wraper .kalami-review {
    width: 1180px;
  }
}
.kalami-review-wraper .kalami-review h3 {
  font-size: 30px;
  color: #000;
  font-weight: 600;
  line-height: 1.4;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .kalami-review-wraper .kalami-review h3 {
    font-size: 35px;
    font-weight: 700;
  }
}
.kalami-review-wraper .kalami-review img {
  width: 50px;
}
.kalami-review-wraper .kalami-review p {
  font-size: 16px;
  color: black;
  font-weight: 500;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .kalami-review-wraper .kalami-review p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
  }
}
.kalami-review-wraper .kalami-review h5 {
  font-size: 15px;
  color: black;
  font-weight: 600;
}
@media (min-width: 768px) {
  .kalami-review-wraper .kalami-review h5 {
    font-size: 18px;
    font-weight: 700;
  }
}
.kalami-review-wraper .kalami-review .review-layers {
  width: 80px;
  height: auto;
}
.kalami-review-wraper .kalami-review .review-layers:nth-child(3) {
  position: absolute;
  top: -130px;
  left: -50px;
}
.kalami-review-wraper .kalami-review .review-layers:nth-child(4) {
  position: absolute;
  top: 10px;
  right: 30px;
}
.kalami-review-wraper .kalami-review .review-layers:nth-child(5) {
  position: absolute;
  bottom: -100px;
  right: 30px;
}

.kalami-call-to-action-wraper {
  background-color: #92fcbe;
  padding: 0rem 0 0rem 0;
  position: relative;
}
.kalami-call-to-action-wraper .kalami-call-to-action {
  width: 90%;
  margin: 0 auto;
  background-color: #3474ff;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 10px 10px 0 0 #fec204;
  border-radius: 5px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 768px) {
  .kalami-call-to-action-wraper .kalami-call-to-action {
    width: 900px;
    gap: 1.5rem;
    box-shadow: 20px 20px 0 0 #fec204;
    border-radius: 10px;
  }
}
.kalami-call-to-action-wraper .kalami-call-to-action h3 {
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: 700;
  width: 100%;
  line-height: 1.5;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .kalami-call-to-action-wraper .kalami-call-to-action h3 {
    font-size: 35px;
    width: 60%;
  }
}
.kalami-call-to-action-wraper .kalami-call-to-action .kalami-call-to-action-btn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .kalami-call-to-action-wraper .kalami-call-to-action .kalami-call-to-action-btn {
    flex-direction: row;
  }
}
.kalami-call-to-action-wraper .kalami-call-to-action .kalami-call-to-action-btn button {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}
.kalami-call-to-action-wraper .kalami-call-to-action .kalami-call-to-action-btn button:nth-child(2) {
  background-color: #fc804f;
  border-color: #fc804f;
}

.kalami-more {
  background-color: #3474ff;
  box-shadow: 5px 5px 0 0 #fec204;
  padding: 4px 7px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-align: end;
}

.kalami-questions-wraper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 768px) {
  .kalami-questions-wraper {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
.kalami-questions-wraper .kalami-questions-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.kalami-questions-wraper .kalami-questions-list .kalami-question-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.kalami-questions-wraper .kalami-questions-list .kalami-question-group h4 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  line-height: 1.4;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .kalami-questions-wraper .kalami-questions-list .kalami-question-group h4 {
    font-size: 25px;
    font-weight: 600;
  }
}
.kalami-questions-wraper .kalami-questions-list .kalami-question-group p {
  font-size: 16px;
  color: black;
  font-weight: 500;
  line-height: 1.7;
}

.kalami-faq-title {
  margin-bottom: 0.8rem;
}
.kalami-faq-title span {
  background-color: #3474ff;
  box-shadow: 5px 5px 0 0 #fec204;
  padding: 4px 7px;
  border-radius: 5px;
  color: white;
}

.kalami-faq-desc {
  width: 60%;
  font-size: 16px;
  color: black;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.kalami-how-works {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 2.5rem 0;
  padding-bottom: 14rem;
  gap: 3rem;
  position: relative;
}
@media (min-width: 768px) {
  .kalami-how-works {
    width: 1180px;
    padding: 5rem 0 2.5rem 0;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
  }
}
.kalami-how-works .thankyou {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.kalami-how-works .thankyou img {
  width: 300px;
  height: auto;
}
.kalami-how-works .thankyou h3 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.kalami-how-works .thankyou p {
  text-align: center;
  color: rgba(232, 232, 232, 0.7411764706);
  font-size: 18px;
  width: 80%;
}
.kalami-how-works .thankyou p a {
  color: #588cfe;
}

.kalami-how-steps {
  background-color: #588cfe;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 15px 15px 0 0 #fec204;
}
.kalami-how-steps .step {
  color: white;
  font-size: 18px !important;
}

.how-layer {
  width: 80px;
  height: auto;
  position: absolute;
}
.how-layer.first {
  bottom: 5rem;
  left: 3rem;
}
.how-layer.sec {
  bottom: 5rem;
  right: 3rem;
  width: 120px;
}
.how-layer.third {
  top: 7rem;
  left: 3rem;
  width: 120px;
}/*# sourceMappingURL=index.css.map */