$home2-background: #f9f6ff;

.home-2 {
  background-color: $home2-background;
  color: white;

  .home2-kalami-header-wraper {
    padding: 23px 0px 0px 0px;
    height: 67px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;
    justify-content: center;

    .kalami-logo {
      width: 35px;
      height: 44px;
      margin-right: 80px;
    }

    .kalami-menu-wraper {
      ul {
        display: flex;
        flex-direction: row;
        gap: 0rem;
        align-items: center;

        li {
          a {
            font-size: 16px;
            text-transform: capitalize;

            &:hover {
              background-color: #fec204;
              color: black;
            }
          }
        }
      }
    }

    .kalami-auth-actions {
      flex-direction: row;
      gap: 0.5rem;

      button {
        text-transform: capitalize;
        font-size: 16px;
      }
    }

    .kalami-auth-actions {
      color: #000;
    }
  }
}
